<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>city</servlet-name>
        <servlet-class>servlet.CityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>zip</servlet-name>
        <servlet-class>servlet.ZipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>music-director</servlet-name>
        <servlet-class>servlet.MusicDirectorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>album</servlet-name>
        <servlet-class>servlet.AlbumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>song</servlet-name>
        <servlet-class>servlet.SongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contains</servlet-name>
        <servlet-class>servlet.ContainsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>city</servlet-name>
        <url-pattern>/city</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zip</servlet-name>
        <url-pattern>/zip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>music-director</servlet-name>
        <url-pattern>/music-director</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>album</servlet-name>
        <url-pattern>/album</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>song</servlet-name>
        <url-pattern>/song</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contains</servlet-name>
        <url-pattern>/contains</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
